In [15]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from time import sleep
import pandas as pd
import json
import numpy as np

## first attempt

In [2]:
url = 'https://www.sec.gov/ixviewer/ix.html?doc=/Archives/edgar/data/1326801/000132680124000012/meta-20231231.htm'

In [3]:
def openModalAndScrape(element):
    element.click()
    modal = driver.find_element(By.XPATH, f'//*[@id="taxonomy-modal-carousel-page-1"]/tbody')
    children = modal.find_elements(By.XPATH, './tr')
    data = {}
    print("scraping tag")
    for kid in children:
        tag = kid.find_element(By.XPATH, './th')
        value = kid.find_element(By.XPATH, './td/div')
        data[tag.text] = value.text
    return data

def takeImportant(data: dict, results: dict):
    other = []
    for key in data.keys():
        if key == 'Fact':
            results[key].append(data[key])
        elif key == 'Period':
            results[key].append(data[key])
        elif key not in ['Type', 'Format', 'Sign', 'Balance', 'Decimals', 'Scale', 'Measure', 'Tag']:
            other.append(key + ' - ' + data[key])
    results['other'].append(json.dumps(other))
    return results

In [4]:
driver = webdriver.Chrome()
driver.get(url)
ticker = driver.find_element(By.NAME, "dei:TradingSymbol")
print(ticker.text)

META

In [5]:
revenues = driver.find_elements(By.NAME, "us-gaap:RevenueFromContractWithCustomerExcludingAssessedTax")
results = {
    'Fact': [],
    'Period': [],
    'other': []
}
for revenue in revenues:
    data = openModalAndScrape(revenue)
    results = takeImportant(data, results)


df = pd.DataFrame(results)
df.head()

scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag
scraping tag

,Fact,Period,other
0,"134,902,000,000",12 months ending 12/31/2023,[]
1,"116,609,000,000",12 months ending 12/31/2022,[]
2,"117,929,000,000",12 months ending 12/31/2021,[]
3,"131,948,000,000",12 months ending 12/31/2023,"[""Axis - SRTProduct Or Service Axis\nUS-GAAPSt..."
4,"113,642,000,000",12 months ending 12/31/2022,"[""Axis - SRTProduct Or Service Axis\nUS-GAAPSt..."

In [6]:
df

,Fact,Period,other
0,"134,902,000,000",12 months ending 12/31/2023,[]
1,"116,609,000,000",12 months ending 12/31/2022,[]
2,"117,929,000,000",12 months ending 12/31/2021,[]
3,"131,948,000,000",12 months ending 12/31/2023,"[""Axis - SRTProduct Or Service Axis\nUS-GAAPSt..."
4,"113,642,000,000",12 months ending 12/31/2022,"[""Axis - SRTProduct Or Service Axis\nUS-GAAPSt..."
5,"114,934,000,000",12 months ending 12/31/2021,"[""Axis - SRTProduct Or Service Axis\nUS-GAAPSt..."
6,"1,058,000,000",12 months ending 12/31/2023,"[""Axis - US-GAAPStatement Business Segments Ax..."
7,"808,000,000",12 months ending 12/31/2022,"[""Axis - US-GAAPStatement Business Segments Ax..."
8,"721,000,000",12 months ending 12/31/2021,"[""Axis - US-GAAPStatement Business Segments Ax..."
9,"133,006,000,000",12 months ending 12/31/2023,"[""Axis - US-GAAPStatement Business Segments Ax..."
10,"114,450,000,000",12 months ending 12/31/2022,"[""Axis - US-GAAPStatement Business Segments Ax..."
11,"115,655,000,000",12 months ending 12/31/2021,"[""Axis - US-GAAPStatement Business Segments Ax..."
12,"1,896,000,000",12 months ending 12/31/2023,"[""Axis - US-GAAPStatement Business Segments Ax..."
13,"2,159,000,000",12 months ending 12/31/2022,"[""Axis - US-GAAPStatement Business Segments Ax..."
14,"2,274,000,000",12 months ending 12/31/2021,"[""Axis - US-GAAPStatement Business Segments Ax..."
15,"134,902,000,000",12 months ending 12/31/2023,[]
16,"116,609,000,000",12 months ending 12/31/2022,[]
17,"117,929,000,000",12 months ending 12/31/2021,[]
18,"52,888,000,000",12 months ending 12/31/2023,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
19,"50,150,000,000",12 months ending 12/31/2022,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
20,"51,541,000,000",12 months ending 12/31/2021,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
21,"31,210,000,000",12 months ending 12/31/2023,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
22,"26,681,000,000",12 months ending 12/31/2022,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
23,"29,057,000,000",12 months ending 12/31/2021,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
24,"36,154,000,000",12 months ending 12/31/2023,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
25,"27,760,000,000",12 months ending 12/31/2022,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
26,"26,739,000,000",12 months ending 12/31/2021,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
27,"14,650,000,000",12 months ending 12/31/2023,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
28,"12,018,000,000",12 months ending 12/31/2022,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
29,"10,592,000,000",12 months ending 12/31/2021,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
30,"134,902,000,000",12 months ending 12/31/2023,[]
31,"116,609,000,000",12 months ending 12/31/2022,[]
32,"117,929,000,000",12 months ending 12/31/2021,[]
33,"49,780,000,000",12 months ending 12/31/2023,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
34,"47,200,000,000",12 months ending 12/31/2022,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
35,"48,380,000,000",12 months ending 12/31/2021,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
36,"13,690,000,000",12 months ending 12/31/2023,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
37,"7,400,000,000",12 months ending 12/31/2022,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
38,"7,590,000,000",12 months ending 12/31/2021,"[""Axis - SRTStatement Geographical Axis"", ""Mem..."
39,"133,006,000,000",12 months ending 12/31/2023,"[""Axis - US-GAAPStatement Business Segments Ax..."
40,"114,450,000,000",12 months ending 12/31/2022,"[""Axis - US-GAAPStatement Business Segments Ax..."
41,"115,655,000,000",12 months ending 12/31/2021,"[""Axis - US-GAAPStatement Business Segments Ax..."
42,"1,896,000,000",12 months ending 12/31/2023,"[""Axis - US-GAAPStatement Business Segments Ax..."
43,"2,159,000,000",12 months ending 12/31/2022,"[""Axis - US-GAAPStatement Business Segments Ax..."
44,"2,274,000,000",12 months ending 12/31/2021,"[""Axis - US-GAAPStatement Business Segments Ax..."
45,"134,902,000,000",12 months ending 12/31/2023,[]
46,"116,609,000,000",12 months ending 12/31/2022,[]
47,"117,929,000,000",12 months ending 12/31/2021,[]

https://www.sec.gov/ixviewer/ix.html?doc= (/Archives/edgar/data/320193/000162828017000717/a10-qq1201712312016.htm) is prefix for xlbr viewer :)

## Trying no xlbr support

In [3]:
driver = webdriver.Chrome()
# url_no_support = 'https://www.sec.gov/Archives/edgar/data/320193/000162828017000717/a10-qq1201712312016.htm' # 2018?
url_no_support = 'https://www.sec.gov/Archives/edgar/data/320193/000110465906084288/a06-25759_210k.htm' # 2006
driver.get(url_no_support)

In [31]:
cash_title = driver.find_element(By.XPATH, "//*[contains(text(), 'CONDENSED CONSOLIDATED STATEMENTS OF OPERATIONS')]")
print(cash_title.text)
print(cash_title.tag_name)
table = cash_title.find_element(By.XPATH, "../following::div/div/table/tbody")

CONDENSED CONSOLIDATED STATEMENTS OF OPERATIONS (Unaudited)
font

'  Three Months Ended\n  December 31,\n2016\n  December 26,\n2015\nNet sales\n$\n78,351\n\n  $\n75,872\n\nCost of sales\n48,175\n\n  45,449\n\nGross margin\n30,176\n\n  30,423\n\n        Operating expenses:\n      Research and development\n2,871\n\n  2,404\n\nSelling, general and administrative\n3,946\n\n  3,848\n\nTotal operating expenses\n6,817\n\n  6,252\n\n        Operating income\n23,359\n\n  24,171\n\nOther income/(expense), net\n821\n\n  402\n\nIncome before provision for income taxes\n24,180\n\n  24,573\n\nProvision for income taxes\n6,289\n\n  6,212\n\nNet income\n$\n17,891\n\n  $\n18,361\n\n        Earnings per share:\n      Basic\n$\n3.38\n\n  $\n3.30\n\nDiluted\n$\n3.36\n\n  $\n3.28\n\n        Shares used in computing earnings per share:\n      Basic\n5,298,661\n\n  5,558,930\n\nDiluted\n5,327,995\n\n  5,594,127\n\n        Cash dividends declared per share\n$\n0.57\n\n  $\n0.52'

In [41]:
cash_title = driver.find_element(By.XPATH, "//*[contains(text(), 'Net income')]/ancestor::tbody[1]")
lines = []
for child in cash_title.find_elements(By.XPATH, "./tr"):
    line = []
    for td in child.find_elements(By.XPATH, "./td"):
        text = td.text.strip()
        if text:
            line.append(td.text)
    lines.append(line)
lines

['Five fiscal years ended September 30, 2006\n(In millions, except share and per share amounts)   2006   2005   2004   2003   2002   ',
 '        As\nRestated (1)   As\nRestated (1)   As\nRestated (2)   As\nRestated (2)   ',
 'Net sales   $ 19,315     $ 13,931       $ 8,279       $ 6,207       $ 5,742     ',
 'Net income   $ 1,989     $ 1,328       $ 266       $ 57       $ 42     ',
 'Earnings per common share:                                       ',
 'Basic   $ 2.36     $ 1.64       $ 0.36       $ 0.08       $ 0.06     ',
 'Diluted   $ 2.27     $ 1.55       $ 0.34       $ 0.08       $ 0.06     ',
 'Cash dividends declared per common share   $ —     $ —       $ —       $ —       $ —     ',
 'Shares used in computing earnings per share (in thousands):                                       ',
 'Basic   844,058     808,439       743,180       721,262       710,044     ',
 'Diluted   877,526     856,878       774,776       723,352       721,445     ',
 'Cash, cash equivalents, and short-term investments   $ 10,110     $ 8,261       $ 5,464       $ 4,566       $ 4,337     ',
 'Total assets   $ 17,205     $ 11,516       $ 8,039       $ 6,817       $ 6,305     ',
 'Long-term debt (including current\nmaturities)   $ —     $ —       $ —       $ 304       $ 316     ',
 'Total liabilities   $ 7,221     $ 4,088       $ 2,976       $ 2,594       $ 2,205     ',
 'Shareholders’ equity   $ 9,984     $ 7,428       $ 5,063       $ 4,223       $ 4,100     ']

# Trying sec website. not actual filings

https://www.macrotrends.net/stocks/charts/META/meta-platforms/financial-statements
go to all financial statements
interactive data :)

In [6]:
driver = webdriver.Chrome()
url_sec = 'https://www.sec.gov/cgi-bin/viewer?action=view&cik=1326801&accession_number=0001326801-13-000003&xbrl_type=v#' # 2006
driver.get(url_sec)

In [ ]:
# open all sections
accordion = driver.find_element(By.ID, "menu")
sleep(2)
for kid in accordion.find_elements(By.XPATH, "./li"):

    try:
        if "Financial Statements" == kid.text.strip(): 
            kid.click()
            print(kid.text)
            sleep(1)
    except:
        continue
print("done clicking")

In [13]:
section = driver.find_element(By.XPATH, "//a[text()='CONSOLIDATED STATEMENTS OF INCOME']")
section.click()
table = driver.find_element(By.XPATH, "//*[text()='Revenue']/ancestor::tbody[1]")
lines = []
for tr in table.find_elements(By.XPATH, "./tr"):
    line = []
    for th in tr.find_elements(By.XPATH, "./th") or []:
        text = th.text.strip()
        if text:
            line.append(th.text)
    for td in tr.find_elements(By.XPATH, "./td") or []:
        text = td.text.strip()
        if text:
            line.append(td.text)
    lines.append(line)
    
title = lines.pop(0)

try:
    date = pd.to_datetime(lines[0][0], format='%b. %d, %Y')
    dates = lines.pop(0)
except:
    print('No date in second line')

lines = np.array(lines)
for line in lines:
    for key, val in enumerate(line):
        val = val.strip()
        if '$' in val:
            val = val.replace('$', '').strip()
        line[key] = val
        
lines = list(filter(lambda x: len(x) > 1, lines))

df = pd.DataFrame(lines)
df.rename(columns={'0': 'atribute'}, inplace=True)
df

[['Revenue', '5,089', '3,711', '1,974'], ['Cost of revenue', '1,364', '860', '493'], ['Research and development', '1,399', '388', '144'], ['Marketing and sales', '896', '393', '167'], ['General and administrative', '892', '314', '138'], ['Total costs and expenses', '4,551', '1,955', '942'], ['Income from operations', '538', '1,756', '1,032'], ['Interest expense', '(51)', '(42)', '(22)'], ['Other income (expense), net', '7', '(19)', '(2)'], ['Income before provision for income taxes', '494', '1,695', '1,008'], ['Provision for income taxes', '441', '695', '402'], ['Net income', '53', '1,000', '606'], ['Less: Net income attributable to participating securities', '21', '332', '234'], ['Net income attributable to Class A and Class B common stockholders', '32', '668', '372'], ['Basic', '0.02', '0.52', '0.34'], ['Diluted', '0.01', '0.46', '0.28'], ['Basic', '2,006', '1,294', '1,107'], ['Diluted', '2,166', '1,508', '1,414'], ['Share-based compensation expense', '1,572', '217', '20'], ['Share-based compensation expense', '88', '9', '0'], ['Share-based compensation expense', '843', '114', '9'], ['Share-based compensation expense', '306', '37', '2'], ['Share-based compensation expense', '335', '57', '9']]

                                                    0      1      2      3
0                                             Revenue  5,089  3,711  1,974
1                                     Cost of revenue  1,364    860    493
2                            Research and development  1,399    388    144
3                                 Marketing and sales    896    393    167
4                          General and administrative    892    314    138
5                            Total costs and expenses  4,551  1,955    942
6                              Income from operations    538  1,756  1,032
7                                    Interest expense   (51)   (42)   (22)
8                         Other income (expense), net      7   (19)    (2)
9            Income before provision for income taxes    494  1,695  1,008
10                         Provision for income taxes    441    695    402
11                                         Net income     53  1,000    606
12  Less: Net income attributable to participating...     21    332    234
13  Net income attributable to Class A and Class B...     32    668    372
14                                              Basic   0.02   0.52   0.34
15                                            Diluted   0.01   0.46   0.28
16                                              Basic  2,006  1,294  1,107
17                                            Diluted  2,166  1,508  1,414
18                   Share-based compensation expense  1,572    217     20
19                   Share-based compensation expense     88      9      0
20                   Share-based compensation expense    843    114      9
21                   Share-based compensation expense    306     37      2
22                   Share-based compensation expense    335     57      9